@font-face {
  font-family: "MotoGp Text";
  src: url("../assets/fonts/Text/MGPText-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "MotoGp Text";
  src: url("../assets/fonts/Text/MGPText-Bold.ttf");
  font-weight: 700;
}