@use "./reset.scss";
@use "./font.scss";

$font-text: "MotoGp Text", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
$font-display: "MotoGp Display", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
$font-inline: "MotoGp Inline", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
$text-base: 2rem;
$text-lg: 4rem;
$text-xl: 5rem;

body {
  font-family: $font-text;
  font-weight: 700;
  font-size: $text-base;
  background-color: black;
  color: black;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;

  &-logo {
    height: 3rem;
  }

  span {
    font-size: 6rem;
    cursor: pointer;
  }
}

h1 {
  font-size: $text-xl;
  font-family: $font-display;
  font-weight: bold;
}

p {
  line-height: 1.2;
}

.hero {
  height: 400vh;
  position: relative;

  &-logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;

    img {
      width: 100%;
    }
  }

  &-banner {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;

    &-img {
      background-image: url("../assets/img/motogp-grid.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      transform: scale(1.3);

      &.zoomed-out {
        transform: scale(1.2);
        transition: transform 2s ease;
      }
    }
  }

  &-title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    &-inner {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-mask {
      position: absolute;
      top: 0;
      width: 1920px;
      height: 100%;
      background: black;
      mask-image: url("../assets/img/logo-mask.svg");
      mask-repeat: no-repeat;
      mask-size: 100%;
      mask-position: top;

      // Webkit support
      -webkit-mask-image: url("../assets/img/logo-mask.svg");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 100%;
      -webkit-mask-position: top;
      mask-mode: luminance;
      transform-origin: 51% 20%;
      transform: scale(55);
      overflow: hidden;
    }

    &-bg {
      position: absolute;
      top: 0;
      width: 1920px;
      height: 100%;
      background-image: url("../assets/img/logo-white-bg.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
      transform-origin: 51% 20%;
      transform: scale(55);
      opacity: 0;
    }

    &-text {
      --progress: 0%;
      color: white;
      text-align: center;
      font-weight: 700;
      font-size: 8rem;
      z-index: 3;
      text-transform: uppercase;
      // background-image: linear-gradient(180deg, #c80502, #000 var(--progress));
      background-image: radial-gradient(
        circle,
        rgba(200, 5, 2, 1) var(--progress),
        rgba(98, 2, 1, 1) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0;
      margin-top: 16rem;
    }

    &-bgFadeOut {
      background-color: black;
      mask-image: linear-gradient(to bottom, transparent 0%, black 40%);
      -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 40%);
      width: 100%;
      height: 200vh;
      z-index: 3;
      position: absolute;
      top: 100vh;
    }
  }
}

.intro {
  height: 400vh;

  &-background {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    &-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }

    &-blur {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(10px);
      /* Optional: add a tint or fade */
      // background: rgba(0, 0, 0, 1);
      background: black;
      opacity: 1;
      pointer-events: none;
    }

    &-fadeLeft {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        270deg,
        rgba(18, 18, 18, 0) 0%,
        rgba(0, 0, 0, 1) 50%
      );
      background-repeat: no-repeat;
      background-size: 0% 100%; // ← Starts with 0% width (invisible)
      background-position: left top;
      opacity: 1;
      pointer-events: none;
    }
  }

  &-content {
    position: relative;
    top: 150vh;
    //   background-color: linear-gradient(
    //     270deg,
    //     rgba(18, 18, 18, 0) 0%,
    //     rgba(0, 0, 0, 1) 50%
    //   );
    //   background-repeat: no-repeat;
    // background-size: 0% 100%; // ← Starts with 0% width (invisible)
    // background-position: left top;
    color: white;
    // opacity: 0.5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    padding: 10rem 0;

    img {
      width: 100%;
      object-fit: cover;
      border: 0 solid transparent;
      transition: border-width 0.6s ease, border-color 0.3s ease 0.3s;

      &:hover {
        border-width: 0.5vw;
        border-color: white;
        transition: border-width 0.6s ease, border-color 0.3s ease;
      }
    }

    &-left {
      grid-column: 3 / span 4;

      &-subtitle {
        font-size: $text-lg;
        margin: 6rem 0 3rem;
        line-height: 1;
      }

      img {
        margin-top: 10rem;
      }
    }

    &-right {
      grid-column: 7 / -1;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: min-content;
      row-gap: 30px;
      padding-top: 30rem;

      img:nth-child(1) {
        grid-column: 1 / -1;
        aspect-ratio: 8 / 7;
      }
      img:nth-child(2) {
        grid-column: 1 / span 4;
        grid-row: 2;
      }
    }
  }
}

.quote {
  --progress: 0;
  height: 300vh;
  position: relative;
  opacity: var(--progress);

  &-banner {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;

    &-img {
      background-image: url("../assets/img/jorge-martin.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      transform: scale(1.1);
    }
    &-text {
      position: sticky;
      z-index: 1;
      bottom: 5.5rem;
      left: 50%;
      width: 25ch;
      color: white;
      font-size: 4rem;
      text-transform: uppercase;
      opacity: 0;
    }
  }

  &-content {
    height: 300vh;
    position: relative;
  }
}

// .drivers {
//   height: 900vh;

//   &-banner {
//     position: sticky;
//     top: 0;
//     width: 100%;
//     height: 100vh;
//     overflow: hidden;
//     z-index: 1;

//     &-img {
//       background-image: url("../assets/img/mugello.jpg");
//       background-repeat: no-repeat;
//       background-size: cover;
//       background-position: center;
//       height: 100%;
//       transform: scale(1.1);
//     }
//     &-blur {
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       backdrop-filter: blur(10px);
//       /* Optional: add a tint or fade */
//       background: rgba(0, 0, 0, 0.7);
//       // background: black;
//       // opacity: 1;
//       pointer-events: none;
//     }
//   }

//   &-list {
//     position: sticky;
//     top: 0;
//     width: 100%;
//     height: 100vh;
//     perspective: 1000px;
//     padding: 7.5rem;
//     z-index: 2;
//     background-image: url("../assets/img/mugello.jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     // transform: scale(1.1);

//     &-blur {
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       backdrop-filter: blur(10px);
//       /* Optional: add a tint or fade */
//       background: rgba(0, 0, 0, 0.7);
//       // background: black;
//       // opacity: 1;
//       pointer-events: none;
//     }

//     h2 {
//       position: relative;
//       font-size: $text-xl;
//       font-family: $font-display;
//       text-align: center;
//       color: white;
//       z-index: 2;
//     }

//     &-row {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform-style: preserve-3d;
//       transform-origin: center center;
//       // width: 100%;
//       // margin: auto;
//       display: flex;
//       justify-content: center;
//       gap: 10rem;
//       // transform: translate(-50%, -50%) translateZ(0px); /* default center + no depth */
//       // transition: transform 0.5s ease;

//       &-item {
//         position: relative;
//         width: 26.25rem;
//         aspect-ratio: 2 / 3;
//         display: flex;
//         overflow: hidden;
//         border-radius: 40px;
//         border: 0 solid transparent;
//         transition: border-width 0.6s ease, border-color 0.3s ease 0.3s;

//         &:hover {
//           border-width: 0.5vw;
//           border-color: black;
//           transition: border-width 0.6s ease, border-color 0.3s ease;

//           &.ducati {
//             border-color: #d10000;
//           }
//           &.gresini {
//             border-color: #b8c9f6;
//           }
//           &.aprilia {
//             border-color: #4b247d;
//           }
//           &.vr46 {
//             border-color: #daff0d;
//           }
//           &.ktm {
//             border-color: #fd5a27;
//           }
//           &.lcr-castrol {
//             border-color: #08a25e;
//           }
//           &.yamaha {
//             border-color: #212449;
//           }
//           &.tech3 {
//             border-color: #d24702;
//           }
//           &.trackhouse {
//             border-color: #0b6eb7;
//           }
//           &.pramac {
//             border-color: #7e47b4;
//           }
//           &.honda {
//             border-color: #ed0000;
//           }
//           &.lcr-idemitsu {
//             border-color: #d81436;
//           }

//           span {
//             opacity: 1;
//           }

//           img {
//             transform: scale(1.02);
//           }
//         }

//         img {
//           width: 100%;
//           box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16),
//             0 4px 6px rgba(0, 0, 0, 0.45);
//           border-radius: 40px;
//           transition: transform 0.5s ease;
//         }

//         span {
//           position: absolute;
//           bottom: 0;
//           left: 0;
//           display: flex;
//           align-items: flex-end;
//           height: 100%;
//           width: 100%;
//           padding: 2rem;
//           font-size: 3rem;
//           background: linear-gradient(
//             180deg,
//             rgba(0, 0, 0, 0) 0%,
//             rgba(0, 0, 0, 1) 100%
//           );
//           color: white;
//           border-radius: 0px 0px 30px 30px;
//           opacity: 0;
//           transition: opacity 0.3s ease;
//         }
//       }
//     }
//   }
// }

.drivers {
  height: 300vh;

  &-inner {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 5rem;
  }

  h2 {
    position: relative;
    font-size: $text-xl;
    font-family: $font-display;
    text-align: center;
    color: white;
    z-index: 2;
    padding: 0 12rem;
  }

  &-list {
    display: flex;
    flex-direction: column;
    // gap: 1rem;
    justify-content: space-between;
    position: relative;
    left: 100vw;
    height: 80%;
    width: fit-content;

    &-row {
      display: flex;
      gap: 1rem;
      position: relative;
      height: calc((100% - 2rem) / 3);

      &:nth-child(1) {
      }
      &:nth-child(2) {
        left: 5rem;
      }
      &:nth-child(3) {
        left: 10rem;
      }

            &-item {
        position: relative;
        // width: 26.25rem;
        // aspect-ratio: 2 / 3;
        display: flex;
        overflow: hidden;
        // border-radius: 40px;
        // border: 0 solid transparent;
        transition: border-width 0.6s ease, border-color 0.3s ease 0.3s;

        &:hover {
          // border-width: 0.5vw;
          // border-color: black;
          // transition: border-width 0.6s ease, border-color 0.3s ease;

          // &.ducati {
          //   border-color: #d10000;
          // }
          // &.gresini {
          //   border-color: #b8c9f6;
          // }
          // &.aprilia {
          //   border-color: #4b247d;
          // }
          // &.vr46 {
          //   border-color: #daff0d;
          // }
          // &.ktm {
          //   border-color: #fd5a27;
          // }
          // &.lcr-castrol {
          //   border-color: #08a25e;
          // }
          // &.yamaha {
          //   border-color: #212449;
          // }
          // &.tech3 {
          //   border-color: #d24702;
          // }
          // &.trackhouse {
          //   border-color: #0b6eb7;
          // }
          // &.pramac {
          //   border-color: #7e47b4;
          // }
          // &.honda {
          //   border-color: #ed0000;
          // }
          // &.lcr-idemitsu {
          //   border-color: #d81436;
          // }

          span {
            opacity: 1;
          }

          img {
            transform: scale(1.02);
          }
        }

        img {
          // max-height: 100%; /* make images fit row height */
          // object-fit: contain;
          // box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16),
          //   0 4px 6px rgba(0, 0, 0, 0.45);
          // border-radius: 40px;
          transition: transform 0.5s ease;
        }

        span {
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          align-items: flex-end;
          height: 100%;
          width: 100%;
          padding: 1rem;  
          font-size: 2rem;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 100%
          );
          color: white;
          // border-radius: 0px 0px 30px 30px;
          opacity: 0;
          transition: opacity 0.3s ease;
        }
      }

      // &-item {
      //   display: flex;
      //   position: relative;

      //   img {
      //     max-height: 100%; /* make images fit row height */
      //     object-fit: contain;
      //   }
      //   span {
      //     position: absolute;
      //   }
      // }

      // &-item {
        
      // }
    }
  }
}

.outro {
  height: 1100vh;

  &-background {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    &-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }

    // &-blur {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   backdrop-filter: blur(10px);
    //   /* Optional: add a tint or fade */
    //   // background: rgba(0, 0, 0, 1);
    //   background: black;
    //   opacity: 1;
    //   pointer-events: none;
    // }

    &-fadeLeft {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        270deg,
        rgba(18, 18, 18, 0) 0%,
        rgba(0, 0, 0, 1) 50%
      );
      background-repeat: no-repeat;
      background-size: 0% 100%; // ← Starts with 0% width (invisible)
      background-position: left top;
      opacity: 1;
      pointer-events: none;
    }
  }

  &-content {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    //   background-color: linear-gradient(
    //     270deg,
    //     rgba(18, 18, 18, 0) 0%,
    //     rgba(0, 0, 0, 1) 50%
    //   );
    //   background-repeat: no-repeat;
    // background-size: 0% 100%; // ← Starts with 0% width (invisible)
    // background-position: left top;
    color: white;
    // opacity: 0.5;
    display: none;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    padding: 10rem 0;
    background-color: black;

    img {
      width: 100%;
      object-fit: cover;
      border: 0 solid transparent;
      transition: border-width 0.6s ease, border-color 0.3s ease 0.3s;

      &:hover {
        border-width: 0.5vw;
        border-color: white;
        transition: border-width 0.6s ease, border-color 0.3s ease;
      }
    }

    &-left {
      grid-column: 3 / span 4;

      &-subtitle {
        font-size: $text-lg;
        margin: 6rem 0 3rem;
        line-height: 1;
      }

      img {
        margin-top: 10rem;
      }
    }

    &-right {
      grid-column: 7 / -1;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: min-content;
      row-gap: 30px;
      padding-top: 30rem;

      img:nth-child(1) {
        grid-column: 1 / -1;
        aspect-ratio: 8 / 7;
      }
      img:nth-child(2) {
        grid-column: 1 / span 4;
        grid-row: 2;
      }
    }
  }
}
