@use "./reset.scss";
@use "./font.scss";

$font-text: "MotoGp Text", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
$font-display: "MotoGp Display", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
$text-base: 2rem;
$text-lg: 4rem;
$text-xl: 5rem;

body {
  font-family: $font-text;
  font-weight: 700;
  font-size: $text-base;
  color: black;
  overflow-x: hidden;
}

h1 {
  font-size: $text-xl;
  font-family: $font-display;
  font-weight: bold;
}

p {
  line-height: 1.2;
}

.hero {
  height: 400vh;
  position: relative;

  &-banner {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;

    &-img {
      background-image: url("../assets/img/motogp-grid.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      transform: scale(1.2);
    }
  }

  &-title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    &-inner {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-mask {
      position: absolute;
      top: 0;
      width: 1920px;
      height: 100%;
      background: black;
      mask-image: url("../assets/img/logo-mask.svg");
      mask-repeat: no-repeat;
      mask-size: 100%;
      mask-position: top;

      // Webkit support
      -webkit-mask-image: url("../assets/img/logo-mask.svg");
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: 100%;
      -webkit-mask-position: top;
      mask-mode: luminance;
      transform-origin: 51% 20%;
      transform: scale(55);
      overflow: hidden;
    }

    &-bg {
      position: absolute;
      top: 0;
      width: 1920px;
      height: 100%;
      background-image: url("../assets/img/logo-white-bg.svg");
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
      transform-origin: 51% 20%;
      transform: scale(55);
      opacity: 0;
    }

    &-text {
      --progress: 0%;
      color: white;
      text-align: center;
      font-weight: 700;
      font-size: 8rem;
      z-index: 3;
      text-transform: uppercase;
      // background-image: linear-gradient(180deg, #c80502, #000 var(--progress));
      background-image: radial-gradient(
        circle,
        rgba(200, 5, 2, 1) var(--progress),
        rgba(98, 2, 1, 1) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0;
      margin-top: 16rem;
    }

    &-bgFadeOut {
      background-color: black;
      mask-image: linear-gradient(to bottom, transparent 0%, black 40%);
      -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 40%);
      width: 100%;
      height: 200vh;
      z-index: 3;
      position: absolute;
      top: 100vh;
    }
  }
}

.intro {
  height: 400vh;

  &-background {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    &-video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }

    &-blur {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(10px);
      /* Optional: add a tint or fade */
      // background: rgba(0, 0, 0, 1);
      background: black;
      opacity: 1;
      pointer-events: none;
    }

    &-fadeLeft {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        270deg,
        rgba(18, 18, 18, 0) 0%,
        rgba(0, 0, 0, 1) 50%
      );
      background-repeat: no-repeat;
      background-size: 0% 100%; // ← Starts with 0% width (invisible)
      background-position: left top;
      opacity: 1;
      pointer-events: none;
    }
  }

  &-content {
    position: relative;
    top: 150vh;
    //   background-color: linear-gradient(
    //     270deg,
    //     rgba(18, 18, 18, 0) 0%,
    //     rgba(0, 0, 0, 1) 50%
    //   );
    //   background-repeat: no-repeat;
    // background-size: 0% 100%; // ← Starts with 0% width (invisible)
    // background-position: left top;
    color: white;
    // opacity: 0.5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    padding: 10rem 0;

    img {
      width: 100%;
      object-fit: cover;
      border: 0 solid transparent;
      transition: border-width 0.6s ease, border-color 0.3s ease 0.3s;

      &:hover {
        border-width: 0.5vw;
        border-color: white;
        transition: border-width 0.6s ease, border-color 0.3s ease;
      }
    }

    &-left {
      grid-column: 3 / span 4;

      &-subtitle {
        font-size: $text-lg;
        margin: 6rem 0 3rem;
        line-height: 1;
      }

      img {
        margin-top: 10rem;
      }
    }

    &-right {
      grid-column: 7 / -1;
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: min-content;
      row-gap: 30px;
      padding-top: 30rem;

      img:nth-child(1) {
        grid-column: 1 / -1;
        aspect-ratio: 8 / 7;
      }
      img:nth-child(2) {
        grid-column: 1 / span 4;
        grid-row: 2;
      }
    }
  }
}

.quote {
  height: 400vh;
  position: relative;

  &-banner {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;

    &-img {
      background-image: url("../assets/img/jorge-martin.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
      transform: scale(1);
    }
  }
}
